nav .navbar-brand
{
    font-size: xx-large;
}

nav .navbar-brand .green
{
    color: #2e944b;
}

table {
    background-color: transparent;
    margin-bottom: 1rem;
    width: 100%;
}

table th,
table td {
    padding: 0.75rem;
    vertical-align: middle;
}

.grid {
    display: grid;
}

.main {
    font-weight: bold;
    font-size: x-large;
}

#koreanlet {
    width:50px;
    height:50px;
    text-align: center;
    margin:0 auto;
}

.pic {
    font-size: small;
    color: grey;
}
