<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, width=device-width">

    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" rel="stylesheet">
    <script crossorigin="anonymous" src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"></script>

    <link href="../static/styles.css" rel="stylesheet">
    <link href="https://cdn.icon-icons.com/icons2/2248/PNG/512/syllabary_hangul_icon_138127.png" rel="icon">

    <title>Hangul trainer: info</title>


</head>


<body>

    <nav class="bg-light border navbar navbar-expand-md navbar-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="index.html"></span><span class="green">Hangul trainer</span></a>
            <div id="navbar">
                <ul class="navbar-nav me-auto mt-2">
                    <li class="nav-item"><a class="nav-link" href="train.html">Practise</a></li>
                    <li class="nav-item"><a class="nav-link" href="index.html">Info</a></li>
                    <li class="nav-item"><a class="nav-link" href="https://hangul.fun" target="_blank">Source of text</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <main class="container-fluid py-5 text-center">
        <h4>How to learn Korean Alphabet fast?</h4>
        <div class="container">
            <p>The challenge before us is the task of memorizing 40 symbols of the Korean alphabet, their writing, and pronunciation.
                At first glance, this seems rather complicated, but if you follow a professional methodology, everything is learned very quickly and easily.</p>
            <p class="pic">The groups division of The Korean alphabet into small groups
                for the convenience step-by-step memorization:</p>
            <img src="../static/pic1.svg" style="width: 100%" alt="korean alphabet">
            <p>We will divide 40 letters of the Korean alphabet into small groups of 4-6 characters. Such blocks are easy to memorize.</p>
            <p>We need to learn 24 letters, all the other symbols of the Korean alphabet are derivative forms of 11 diphthongs
                (combined vowels) and 5 doubled consonants, which in fact represent just a doubled symbol of a certain consonant with a doubled sound, for example:</p>
            <img src="../static/pic2.svg" style="width: 100%" alt="korean alphabet">
            <h4>The Korean Alphabet Composition</h4>
            <img src="../static/pic3.svg" style="width: 100%" alt="korean alphabet">
            <p>In the Korean language there are 24 letters (14 consonants, 10 vowels), 11 diphthongs (complex vowels), and 5 double consonants:</p>
            <ul style="list-style: none">
                <li>10 simple vowels: <span style="color: green">ㅏㅓㅑㅕㅣㅡ ㅗ ㅜ ㅛ ㅠ</span></li>
                <li>14 simple consonants: <span style="color: blue">ㄱㄴㄷㄹㅁㅂㅅㅇㅈㅊㅋㅌㅍㅎ</span></li>
                <li>11 diphthongs: <span style="color: green">ㅐㅒㅔㅖㅘ ㅙ ㅚ ㅝ ㅞ ㅟ ㅢ</span></li>
                <li>5 doubled consonants: <span style="color: blue">ㄲㄸㅃㅆㅉ</span></li>
            </ul>
            <h4>Vowels of the Korean alphabet</h4>
            <p>The Korean Alphabet has 10 simple vowels and 11 diphthongs. For the convenience of memorizing, they can be divided into 6 groups as follows:</p>
            <img src="../static/pic4.svg" style="width: 100%" alt="korean alphabet">
            <h4>Consonants of the Korean alphabet</h4>
            <p>The Korean alphabet has 14 simple consonants and 5 doubled letters. For the convenience of learning, they are divided into 5 groups:</p>
            <img src="../static/pic5.svg" style="width: 100%" alt="korean alphabet">
            <h5>Hangul stroke order:</h5>
            <p>Korean Alphabet has a certain way of writing each letter:</p>
        </div>
        <img src="../static/stroke1.jpg" style="width: 100%" alt="korean stroke order">
        <img src="../static/stroke2.jpg" style="width: 100%" alt="korean stroke order">
        <form action="train.html">
            <button class="btn btn-success btn-lg" type="submit">Practise!</button>
        </form>

        <footer class="mb-5 medium text-center">
            Sources: <a href="https://www.lingodeer.com/learn-languages/kr/en/learn-korean-online/alphabet" target="_blank">Audio</a>,
            <a href="https://textarchive.ru/c-1984250-pall.html" target="_blank">Stroke order pictures</a>,
            <a href="https://hangul.fun" target="_blank">Text</a>,
            <a href="https://vacuum.name/en/japanese/hiragana-katakana" target="_blank">Inspiration for train section</a>
        </footer>
        <footer class="mb-5 medium text-center">
            For any questions or proposals: <a href="https://vk.com/tizzhh" target="_blank">VK</a>,
            Telegram: <span>@TeaWithMilkAndSugar</span>
        </footer>
    </main>
</body>

</html>